<li class="mr-5 mb-0">
    <a href="https://www.instagram.com/swissclinic/" target="_blank"><img src="https://www.swissclinic.se/bilder/swiss-clinic/icons/instagram.png" width="15"></a>
</li>
<li class="mr-5 mb-0">
    <a href="https://www.facebook.com/Swissclinicse?fref=ts" target="_blank"><img src="https://www.swissclinic.se/bilder/swiss-clinic/icons/facebook.png" width="15"></a>
</li>
<li class="mr-5 mb-0">
    <a href="https://www.youtube.com/channel/UCjBEj70HSqHo3uNcHiInJbA" target="_blank"><img src="https://www.swissclinic.se/bilder/swiss-clinic/icons/youtube.png" width="15"></a>
</li>
<li class="mr-5 mb-0">
    <a href="https://www.pinterest.se/swissclinic/" target="_blank"><img src="https://www.swissclinic.se/bilder/swiss-clinic/icons/pinterest.png" width="15"></a>
</li>