<li class="nav-item">
    <a class="nav-link" href="http://press.swissclinic.se/">Newsroom</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="mailto:info@swissclinic.se">Affiliate</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://career.swissclinic.com/">Jobba hos oss</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://swissnet.swissclinic.com/corporate/" target="_blank">Corporate website</a>
</li>