<button class="dropdown-toggle" data-mage-init='{"dropdown":{}}' data-toggle="dropdown">
    <div class="flag-icon flag-icon-<?= $this->getStoreCode(); ?>"></div>
    <span><?= $this->getStoreName(); ?></span>
</button>